{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Techtop{% endblock %}

{% block content %}

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('static/img/banner-1.webp');"></div>
    <div class="swiper-slide" style="background-image: url('#');"></div>
    <div class="swiper-slide" style="background-image: url('#');"></div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="page-content" style="text-align: center; padding: 2rem;">
    <h2>Productos Destacados</h2>
</div>

{% endblock %}
