{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Techtop{% endblock %}

{% block content %}

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('https://placehold.co/1920x500/cccccc/000000?text=Tu+Imagen+1');"></div>
    <div class="swiper-slide" style="background-image: url('https://placehold.co/1920x500/bbbbbb/000000?text=Tu+Imagen+2');"></div>
    <div class="swiper-slide" style="background-image: url('https://placehold.co/1920x500/aaaaaa/000000?text=Tu+Imagen+3');"></div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev">
    <i class='bx bx-chevron-left'></i> </div>
<div class="swiper-button-next">
    <i class='bx bx-chevron-right'></i> </div>
<div class="page-content">
    <h2>Productos Destacados</h2>
    </div>

{% endblock %}