{% extends 'base.html' %}
{% load static %}
{% block title %}{{ titulo }} - Techtop{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gestion.css' %}">

<div class="gestion-page form-container">
    <div class="form-header-wrapper">
        <a href="{% url 'panel_gestion' %}" class="btn-back-panel">
            <i class='bx bx-arrow-back'></i> Volver al Panel
        </a>
        <header class="gestion-header">
            <h1>{{ titulo }}</h1>
            <p>Completa el formulario para añadir un nuevo ítem.</p>
        </header>
    </div>

    <form method="POST" enctype="multipart/form-data" class="gestion-form">
        {% csrf_token %}
        
        {{ form.as_p }}

        <div class="form-actions">
            <a href="{% url 'panel_gestion' %}" class="btn-cancel">Cancelar</a>
            <button type="submit" class="btn-submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
