{% extends 'base.html' %}
{% load static %}
{% block title %}Panel de Gestión - Techtop{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gestion.css' %}">

<div class="gestion-page">
    <header class="gestion-header">
        <h1>Panel de Gestión</h1>
        <p>Desde aquí puedes administrar la tienda.</p>
    </header>

    <main class="gestion-menu">
        <a href="{% url 'listar_productos' %}" class="menu-card">
            <div class="card-icon"><i class='bx bxs-box'></i></div>
            <h3>Gestionar Productos</h3>
            <p>Ver, añadir, editar o eliminar productos.</p>
        </a>
        <a href="{% url 'listar_categorias' %}" class="menu-card">
            <div class="card-icon"><i class='bx bxs-category'></i></div>
            <h3>Gestionar Categorías</h3>
            <p>Ver, añadir o editar categorías.</p>
        </a>
        <a href="{% url 'listar_marcas' %}" class="menu-card">
            <div class="card-icon"><i class='bx bxs-purchase-tag'></i></div>
            <h3>Gestionar Marcas</h3>
            <p>Ver, añadir o editar marcas.</p>
        </a>

        <a href="{% url 'listar_pedidos' %}" class="menu-card">
            <div class="card-icon"><i class='bx bxs-package'></i></div>
            <h3>Gestión de Pedidos</h3>
            <p>Ver todos los pedidos, filtrar y actualizar estados.</p>
        </a>

        <a href="{% url 'ver_metricas' %}" class="menu-card">
            <div class="card-icon"><i class='bx bxs-chart'></i></div>
            <h3>Métricas de Ventas</h3>
            <p>Ver análisis y reportes de ventas.</p>
        </a>
        <a href="{% url 'listar_transferencias' %}" class="menu-card">
            <div class="card-icon"><i class='bx bx-transfer-alt'></i></div>
            <h3>Validar Transferencias</h3>
            <p>Revisar y aprobar pagos manuales.</p>
        </a>
    </main>
</div>
{% endblock %}